#g4g {
	padding: 5px 10px;
	position: fixed;
    top:3vh; right:50vh;
	z-index: 10;	
	color: white;
	border-radius: 5px;
	font-size: 14px;
	cursor: move;
	width:18em;
    font-family:corbel;
	border-style:solid;
	border-color:#bdc3c7;
	border-width:0px 1.5px 1.5px 0px;
	background-color:#34495e; 	
	/*background-color:rgb(155,102,11); 	*/
}

.draggable {
	position:fixed;
	padding: 0.5em;
	padding-right:0;
	float: left;
	width: 10em;
	margin: 0 10px 10px 0;
}


.ui-tooltip {
	padding: 8px;
	position: absolute;
	z-index: 9999;
	max-width: 300px;
	-webkit-box-shadow: 0 0 5px #aaa;
	box-shadow: 0 0 5px #aaa;
}
body .ui-tooltip {
	border-width: 2px;
}

#refresh {
	background-color:rgb(13, 23, 52);
	/*background-color:rgb(96,57,19);*/
	color:white;
	border-radius:15px;
	height:23px;
	font-size:12px;
	font-family:corbel;
    width:73px;
    border-width:0px;
    left:3px;
    position:relative;
    border-style:solid;
    border-color:black;
}
		 
#refresh:focus {
	outline:0;
}

#refresh:hover {
	background-color:#7f8c8d;
	/*background-color:rgb(117,76,36);*/
	cursor:pointer;
}

input[type='range'] {
	-webkit-appearance: none;
	background: #e6e6e6;
	display: inline;
	border-radius: 10px;
	box-shadow: inset 0px 1px 3px rgba(0, 0, 0, 0.3);
	width: 8em;
	height: 8px;
}

input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;
	background-color: #ecf0f1;
	border: 1px solid #bdc3c7;
	width: 20px;
	height: 20px;
	border-radius: 10px;
	cursor: pointer;
}

input[type='range']:focus {
	outline: none;
}